
* {
  font-family: 'Open sans', sans-serif;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header {
  background-color: #83C5BE;
  color: #006D77;
}
footer {
  background-color: #FFDDD2;
  color: #E29578;
}
header, footer {
  border: solid 2px #1A414E;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5em;
}
form {
  display: flex;
  flex-direction: column;
}
select {
  background-color: #EDF6F9;
  font-size: 1em;
}
main {
  height: 100%;
  width: 100%;
  background-color: #EDF6F9;
  color: #1A414E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button {
  font-size: 1.5em;
  border: solid 1px #ff9f1c;
  background-color: #f6cb8b;
  color: #1A414E;
}
button:hover {
  background-color: #f2e1c2;
  cursor: pointer;
}
section {
  width: 460px;
  height: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
div {
  height: 150px;
  width: 150px;
  cursor: crosshair;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5em;
}
.q1, .q2, .q3, .q4, .q5, .q6  {
  border-bottom: solid 2px #1A414E;
}
.q1, .q4, .q7, .q2, .q5, .q8 {
  border-right: solid 2px #1A414E;
}
.q3, .q6, .q9, .q2, .q5, .q8 {
  border-left: solid 2px #1A414E;
}
.q4, .q5, .q6, .q7, .q8, .q9 {
  border-top: solid 2px #1A414E;
}
.hidden {
  display: none !important;
}
